{{ define "main" }}
  {{ .Content }}
  <span class="horizontal-line" aria-hidden="true"></span>
  <div class="cards columns-3">
    {{ range .Pages }}
      {{ $thumbnail := .Params.image | default "gcs_logo/logo.png" | relURL }}
      {{ $description := .Params.desc }}
      <a class="card" href="{{ .Permalink }}">
        <div class="card-img-container">
          <img  src="{{ $thumbnail }}" alt="{{ .Title | plainify | strings.Truncate 25  "..." }} logo"/>
        </div>
        <br>
        <h2>
            {{ .Title }}
        </h2>
        <p>
            {{ $description }}
        </p>
      </a>
    {{ end }}
  </div>
{{ end }}
