@use "variables";

.contact_hero {
    // display: block;
    // margin-bottom: 2rem;
    // line-height: 0;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.contact_hero img {
    width: 100%;
    height: 100%;
    border-radius:0px;
    object-fit: cover;
    object-position: center;
}