{{ define "main" }}
  {{ .Content }}
  {{ $paginator := .Paginate .Pages }}
  <div class="cards columns-1">
    {{- range $paginator.Pages }}
        {{ $thumbnail := .Params.image | default "gcs_logo/logo.png" | relURL }}
        <article class="card">
          <a href="{{ .RelPermalink }}">
            <div class="background-img">
              <img class="blog-image" src="{{ $thumbnail }}" alt="{{ .Title | plainify | safeHTMLAttr }} thumbnail"/>
            </div>
            <h2 class="blog-item__title">
              {{ .Title }}
            </h2>
          </a>
          {{- partial "blog/byline.html" . }}
          <p class="blog-item__summary">{{ .Summary | plainify | strings.Truncate 300 "..." }}</p>
        </article>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
